<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  {%- capture page_description %}{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}">
  <meta property="og:description" content="{{ page_description }}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:image" content="{{ '/img/palermo.jpg' | prepend: site.baseurl | prepend: site.url }}">
  <meta name="twitter:card" content="summary">
  {%- if page.url == "/" %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Francis J. DiTraglia",
    "alternateName": ["Francis DiTraglia", "Frank DiTraglia"],
    "jobTitle": "Associate Professor of Economics",
    "affiliation": {"@type": "CollegeOrUniversity", "name": "University of Oxford"},
    "url": "{{ site.url }}",
    "image": "{{ '/img/palermo.jpg' | prepend: site.url }}",
    "email": "mailto:{{ site.email }}",
    "sameAs": [
      "https://scholar.google.com/citations?user={{ site.scholar_id }}",
      "https://github.com/{{ site.github_username }}",
      "https://x.com/{{ site.twitter_username }}",
      "https://ideas.repec.org/f/pdi336.html",
      "https://www.econometrics.blog"
    ]
  }
  </script>
  {%- endif %}

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
